* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, "sans-serif";
}

nav {
  padding: 3rem;
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 5rem;
  font-size: 1.2rem;
}

.nav-links a {
  text-decoration: none;
  color: #252525;
  font-weight: bold;
}

.nav-item {
  position: relative;
}
.active-nav {
  height: 3px;
  background-color: #385ae0;
  border-radius: 1rem;
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
  /* min-width: 1200px; */
  margin: 10px auto;
}
.container .weekend {
  display: block;
  position: relative;
  padding: 20px 40px;
  background: linear-gradient(200deg, rgb(90, 233, 252), rgb(146, 211, 146));
}

.header,
.studentList {
  width: 100%;
  background: #fff;
  border-radius: 0.4rem;
  padding: 10px;
  margin: 10px auto;
}
.header {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}
.align-items-center {
  align-items: flex-start;
}
.logoSchool {
  position: relative;
  width: 70px;
  height: 70px;
  background: #ccc;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  overflow: hidden;
}
.logoSchool img {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
img {
  width: 100%;
}
.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.wrapper .student {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 120px;
}
.wrapper .student img {
  width: 70px;
  height: 70px;
  border: 3px solid rgb(1, 223, 93);
  border-radius: 50px;
}
.wrapper .student span {
  font-weight: 200;
  margin: 10px auto;
}

.rows {
  position: relative;
  width: 100%;
}
.rows .col {
  margin: 10px auto;
  padding: 10px;
  background-color: #fff;
  box-shadow: 5px 7px 32px -14px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: 5px 7px 32px -14px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 5px 7px 32px -14px rgba(0, 0, 0, 0.59);
  border-radius: 0.4rem;
  border-left: 10px solid rgb(1, 223, 93);
}
.rows .col h3 {
  border: 1px solid rgb(1, 223, 93);
  width: 120px;
  padding: 5px 0;
  text-align: center;
  border-radius: 1rem;
}
.rows .col table {
  width: 100%;
  position: relative;
  border-collapse: collapse;
}
.rows .col table thead th {
  font-size: 11px;
  font-weight: 500;
  text-align: left;
  padding: 10px;
}
.rows .col table tbody tr td {
  padding: 10px;
  border-bottom: 1px solid rgb(1, 223, 93);
}
.info {
  margin: 10px auto;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.info .icon {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: #eee;
  margin-left: 10px;
  border-radius: 0.4rem;
}
.info .icon img {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 0.4rem;
  border: 5px solid rgb(1, 223, 93);
}

@media (max-width: 760px) {
  .container {
    display: block;
    padding: 20px 0;
  }
  .weekend {
    display: block;
    width: 100%;
    padding: 50px;
  }
  .header {
    position: relative;
    width: 100%;
  }
}
